/* Fonts */
$mainFont: "museo-sans",sans-serif;

/* Colors */
$black: rgb(0,0,0);
$coal: rgb(34, 34, 34);
$coal-transparent: rgba(34, 34, 34, 0.5);
$grey: rgb(150,150,150);
$white: rgb(255,255,255);
$white-transparent: rgba(255,255,255, 0.75);

$blue: rgb(0, 0, 204);
$cyan: rgb(66, 134, 244);
$orange: rgb(227, 159, 119);
$dark-wood-brown: rgb(150, 95, 0);
$dark-wood-brown-transparent: rgba(150, 95, 0, 0.5);
$bar-brown: rgb(104, 66, 0);
