/* Fonts */
$mainFont: "museo-sans",sans-serif;

/* Colors */
$black: rgb(0,0,0);
$grey: rgb(150,150,150);
$white: rgb(255,255,255);

$blue: rgb(0, 0, 204);
$cyan: rgb(66, 134, 244);
$orange: rgb(227, 159, 119);
