.page-footer{
        padding:25px;
        min-height: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0px 10px 41px 25px $coal-transparent;
        -moz-box-shadow: 0px 10px 41px 25px $coal-transparent;
        box-shadow: 0px 10px 41px 25px $coal-transparent;
        align-items: center;
}
